{:class/name "test__init",
 :class/filename "<Unknown>",
 :class/type :class,
 :class/flags #{:public :synchronized},
 :class/super "java.lang.Object",
 :class/interfaces [],
 :class/fields [{:field/name "const__0",
                 :field/type "clojure.lang.Var",
                 :field/flags #{:public :static :final}}
                {:field/name "const__1",
                 :field/type "clojure.lang.AFn",
                 :field/flags #{:public :static :final}}
                {:field/name "const__2",
                 :field/type "clojure.lang.Var",
                 :field/flags #{:public :static :final}}
                {:field/name "const__8",
                 :field/type "clojure.lang.AFn",
                 :field/flags #{:public :static :final}}],
 :class/methods [{:method/name "load",
                  :method/flags #{:public :static},
                  :method/return-type "void",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "getstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__0",
                                                         :insn/target-type "clojure.lang.Var"},
                                     :insn/label 0}
                                    {:insn/name "invokevirtual",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Var",
                                                         :insn/target-name "getRawRoot",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "java.lang.Object"},
                                     :insn/label 3}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/IFn"},
                                     :insn/label 6}
                                    {:insn/name "getstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__1",
                                                         :insn/target-type "clojure.lang.AFn"},
                                     :insn/label 9}
                                    {:insn/name "invokeinterface",
                                     :insn/length 5,
                                     :insn/pool-element {:insn/target-class "clojure.lang.IFn",
                                                         :insn/target-name "invoke",
                                                         :insn/target-arg-types ["java.lang.Object"],
                                                         :insn/target-ret-type "java.lang.Object"},
                                     :insn/label 12}
                                    {:insn/name "getstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__2",
                                                         :insn/target-type "clojure.lang.Var"},
                                     :insn/label 17}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 20}
                                    {:insn/name "getstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__8",
                                                         :insn/target-type "clojure.lang.AFn"},
                                     :insn/label 21}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/IPersistentMap"},
                                     :insn/label 24}
                                    {:insn/name "invokevirtual",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Var",
                                                         :insn/target-name "setMeta",
                                                         :insn/target-arg-types ["clojure.lang.IPersistentMap"],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 27}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 30}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "foo"},
                                     :insn/label 31}
                                    {:insn/name "invokevirtual",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Var",
                                                         :insn/target-name "bindRoot",
                                                         :insn/target-arg-types ["java.lang.Object"],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 33}
                                    {:insn/name "return",
                                     :insn/length 1,
                                     :insn/label 36}]}
                 {:method/name "__init0",
                  :method/flags #{:public :static},
                  :method/return-type "void",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "clojure.core"},
                                     :insn/label 0}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "in-ns"},
                                     :insn/label 2}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "var",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Var"},
                                     :insn/label 4}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/Var"},
                                     :insn/label 7}
                                    {:insn/name "putstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__0",
                                                         :insn/target-type "clojure.lang.Var"},
                                     :insn/label 10}
                                    {:insn/name "aconst_null",
                                     :insn/length 1,
                                     :insn/label 13}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "test"},
                                     :insn/label 14}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Symbol",
                                                         :insn/target-name "intern",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Symbol"},
                                     :insn/label 16}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/AFn"},
                                     :insn/label 19}
                                    {:insn/name "putstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__1",
                                                         :insn/target-type "clojure.lang.AFn"},
                                     :insn/label 22}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "test"},
                                     :insn/label 25}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "a"},
                                     :insn/label 27}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "var",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Var"},
                                     :insn/label 29}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/Var"},
                                     :insn/label 32}
                                    {:insn/name "putstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__2",
                                                         :insn/target-type "clojure.lang.Var"},
                                     :insn/label 35}
                                    {:insn/name "bipush",
                                     :insn/length 2,
                                     :insn/constant-element {:insn/target-value 6,
                                                             :insn/target-type "byte"},
                                     :insn/label 38}
                                    {:insn/name "anewarray",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "java/lang/Object"},
                                     :insn/label 40}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 43}
                                    {:insn/name "iconst_0",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 0,
                                                             :insn/target-type "int"},
                                     :insn/label 44}
                                    {:insn/name "aconst_null",
                                     :insn/length 1,
                                     :insn/label 45}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "line"},
                                     :insn/label 46}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "keyword",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Keyword"},
                                     :insn/label 48}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 51}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 52}
                                    {:insn/name "iconst_1",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 1,
                                                             :insn/target-type "int"},
                                     :insn/label 53}
                                    {:insn/name "iconst_3",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 3,
                                                             :insn/target-type "int"},
                                     :insn/label 54}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "java.lang.Integer",
                                                         :insn/target-name "valueOf",
                                                         :insn/target-arg-types ["int"],
                                                         :insn/target-ret-type "java.lang.Integer"},
                                     :insn/label 55}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 58}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 59}
                                    {:insn/name "iconst_2",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 2,
                                                             :insn/target-type "int"},
                                     :insn/label 60}
                                    {:insn/name "aconst_null",
                                     :insn/length 1,
                                     :insn/label 61}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "column"},
                                     :insn/label 62}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "keyword",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Keyword"},
                                     :insn/label 64}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 67}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 68}
                                    {:insn/name "iconst_3",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 3,
                                                             :insn/target-type "int"},
                                     :insn/label 69}
                                    {:insn/name "iconst_1",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 1,
                                                             :insn/target-type "int"},
                                     :insn/label 70}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "java.lang.Integer",
                                                         :insn/target-name "valueOf",
                                                         :insn/target-arg-types ["int"],
                                                         :insn/target-ret-type "java.lang.Integer"},
                                     :insn/label 71}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 74}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 75}
                                    {:insn/name "iconst_4",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 4,
                                                             :insn/target-type "int"},
                                     :insn/label 76}
                                    {:insn/name "aconst_null",
                                     :insn/length 1,
                                     :insn/label 77}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "file"},
                                     :insn/label 78}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "keyword",
                                                         :insn/target-arg-types ["java.lang.String"
                                                                                 "java.lang.String"],
                                                         :insn/target-ret-type "clojure.lang.Keyword"},
                                     :insn/label 80}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 83}
                                    {:insn/name "dup",
                                     :insn/length 1,
                                     :insn/label 84}
                                    {:insn/name "iconst_5",
                                     :insn/length 1,
                                     :insn/constant-element {:insn/target-value 5,
                                                             :insn/target-type "int"},
                                     :insn/label 85}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "test.clj"},
                                     :insn/label 86}
                                    {:insn/name "aastore",
                                     :insn/length 1,
                                     :insn/label 88}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "map",
                                                         :insn/target-arg-types ["java.lang.Object[]"],
                                                         :insn/target-ret-type "clojure.lang.IPersistentMap"},
                                     :insn/label 89}
                                    {:insn/name "checkcast",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-value "clojure/lang/AFn"},
                                     :insn/label 92}
                                    {:insn/name "putstatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "const__8",
                                                         :insn/target-type "clojure.lang.AFn"},
                                     :insn/label 95}
                                    {:insn/name "return",
                                     :insn/length 1,
                                     :insn/label 98}]}
                 {:method/name "<clinit>",
                  :method/flags #{:public :static},
                  :method/return-type "void",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "__init0",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 0}
                                    {:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "test__init"},
                                     :insn/label 3}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.RT",
                                                         :insn/target-name "classForName",
                                                         :insn/target-arg-types ["java.lang.String"],
                                                         :insn/target-ret-type "java.lang.Class"},
                                     :insn/label 5}
                                    {:insn/name "invokevirtual",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "java.lang.Class",
                                                         :insn/target-name "getClassLoader",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "java.lang.ClassLoader"},
                                     :insn/label 8}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Compiler",
                                                         :insn/target-name "pushNSandLoader",
                                                         :insn/target-arg-types ["java.lang.ClassLoader"],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 11}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test__init",
                                                         :insn/target-name "load",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 14}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Var",
                                                         :insn/target-name "popThreadBindings",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 17}
                                    {:insn/name "goto",
                                     :insn/length 3,
                                     :insn/jump-target 7,
                                     :insn/label 20}
                                    {:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.Var",
                                                         :insn/target-name "popThreadBindings",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 23}
                                    {:insn/name "athrow",
                                     :insn/length 1,
                                     :insn/label 26}
                                    {:insn/name "return",
                                     :insn/length 1,
                                     :insn/label 27}]}]}
