{:class/name "test$foo",
 :class/filename "test.clj",
 :class/type :class,
 :class/flags #{:public :final :synchronized},
 :class/super "clojure.lang.AFunction",
 :class/interfaces [],
 :class/fields [],
 :class/methods [{:method/name "<init>",
                  :method/flags #{:public},
                  :method/return-type "void",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "aload_0",
                                     :insn/length 1,
                                     :insn/local-variable-element {:insn/target-type "java.lang.Object",
                                                                   :insn/target-index 0},
                                     :insn/label 0}
                                    {:insn/name "invokespecial",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "clojure.lang.AFunction",
                                                         :insn/target-name "<init>",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "void"},
                                     :insn/label 1}
                                    {:insn/name "return",
                                     :insn/length 1,
                                     :insn/label 4}]}
                 {:method/name "invokeStatic",
                  :method/flags #{:public :static},
                  :method/return-type "java.lang.Object",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "ldc",
                                     :insn/length 2,
                                     :insn/pool-element {:insn/target-value "yoo"},
                                     :insn/label 0}
                                    {:insn/name "areturn",
                                     :insn/length 1,
                                     :insn/label 2}]}
                 {:method/name "invoke",
                  :method/flags #{:public},
                  :method/return-type "java.lang.Object",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "invokestatic",
                                     :insn/length 3,
                                     :insn/pool-element {:insn/target-class "test$foo",
                                                         :insn/target-name "invokeStatic",
                                                         :insn/target-arg-types [],
                                                         :insn/target-ret-type "java.lang.Object"},
                                     :insn/label 0}
                                    {:insn/name "areturn",
                                     :insn/length 1,
                                     :insn/label 3}]}
                 {:method/name "<clinit>",
                  :method/flags #{:public :static},
                  :method/return-type "void",
                  :method/arg-types [],
                  :method/bytecode [{:insn/name "return",
                                     :insn/length 1,
                                     :insn/label 0}]}]}
